django/publicmapping/config/config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="DistrictBuilder">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="LegislativeBodies" type="LegislativeBodiesType"></xs:element>
                <xs:element name="Regions" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            A collection of regions in DistrictBuilder that define a specific geographic extent,
                            set of legislative bodies, subjects, scores, and validation criteria.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Region" minOccurs="1" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        A region that defines a specific geographic extent, set of legislative
                                        bodies, subjects, scores, and validation criteria.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="RegionFilter" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    A collection of filters that select geographic units that as an
                                                    aggregate, define the limits of this Region.
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="RegionCode" minOccurs="1" maxOccurs="unbounded">
                                                        <xs:annotation>
                                                            <xs:documentation>
                                                                A filter definition that defines which geounits to
                                                                aggregate together for a part of the region.
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:attribute name="attr" type="xs:string" />
                                                            <xs:attribute name="value" type="xs:string" />
                                                            <xs:attribute name="start" type="xs:integer" use="optional" />
                                                            <xs:attribute name="width" type="xs:integer" use="optional" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="LegislativeBodies" type="LegislativeBodiesRefType"></xs:element>
                                        <xs:element name="GeoLevels">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="GeoLevel" type="NestedGeoLevelType" />
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:all>
                                    <xs:attribute name="id" type="xs:ID" />
                                    <xs:attribute name="label" type="xs:string" />
                                    <xs:attribute name="name" type="xs:string" />
                                    <xs:attribute name="description" type="xs:string" />
                                    <xs:attribute name="sort_key" type="xs:integer" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Subjects">
                    <xs:annotation>
                        <xs:documentation>
                            Subjects are scalar measurements associated with individual units of a GeoLevel, such as
                            population, income, Democratic registration, etc. These can be represented as columns of
                            data. Each Subject must refer to at least one LegislativeBody.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="Subject">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="SubjectType" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation>
                                                  SubjectType, if not specified, defaults to units of 'count', and no classes.
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="Classes">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Class" minOccurs="1" maxOccurs="unbounded">
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:all>
                                                <xs:attribute name="units" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1" />
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:ID" use="required" />
                                    <xs:attribute name="field" type="xs:string" use="required" />
                                    <xs:attribute name="name" type="xs:string" use="optional" />
                                    <xs:attribute name="short_name" type="xs:string" use="optional" />
                                    <xs:attribute name="displayed" type="xs:boolean" use="optional" />
                                    <xs:attribute name="sortkey" type="xs:integer" use="optional" />
                                    <xs:attribute name="aliasfor" type="xs:IDREF" use="optional" />
                                    <xs:attribute name="percentage_denominator" type="xs:IDREF" use="optional" />
                                    <xs:attribute name="default" type="xs:boolean" use="optional" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Scoring" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ScoreFunctions">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ScoreFunction" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                        <xs:element name="Argument">
                                                            <xs:complexType>
                                                                <xs:attribute name="name" type="xs:string" />
                                                                <xs:attribute name="value" type="xs:string" />
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="SubjectArgument" type="NamedRefType">
                                                        </xs:element>
                                                        <xs:element name="ScoreArgument" type="NamedRefType">
                                                        </xs:element>
                                                        <xs:element name="LegislativeBody" type="RefType">
                                                        </xs:element>
                                                    </xs:choice>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:ID" />
                                                <xs:attribute name="type" type="ScoreFunctionTypeType" />
                                                <xs:attribute name="calculator" type="xs:string" />
                                                <xs:attribute name="label" type="xs:string" use="optional" />
                                                <xs:attribute name="description" type="xs:string" use="optional" />
                                                <xs:attribute name="user_selectable" type="xs:boolean" use="optional" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ScorePanels" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ScorePanel" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Score" minOccurs="0" maxOccurs="unbounded" type="RefType">
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:ID" />
                                                <xs:attribute name="type" type="ScorePanelsTypeType" />
                                                <xs:attribute name="title" type="xs:string" />
                                                <xs:attribute name="cssclass" type="xs:string" use="optional" />
                                                <xs:attribute name="template" type="xs:string" />
                                                <xs:attribute name="is_ascending" type="xs:boolean" use="optional" />
                                                <xs:attribute name="position" type="xs:positiveInteger" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ScoreDisplays" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ScoreDisplay" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ScorePanel" minOccurs="1" maxOccurs="unbounded" type="RefType" >
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:ID" />
                                                <xs:attribute name="legislativebodyref" type="xs:IDREF" />
                                                <xs:attribute name="type" type="xs:string" />
                                                <xs:attribute name="cssclass" type="xs:string" use="optional" />
                                                <xs:attribute name="title" type="xs:string" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Validation" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Criteria" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Criterion" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Score" type="RefType" />
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:ID" />
                                                <xs:attribute name="name" type="xs:string" />
                                                <xs:attribute name="description" type="xs:string" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="legislativebodyref" type="xs:IDREF" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ContiguityOverrides" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            Optional configuration for geounits that require special contiguity rules.
                            'id' is the portable id of the geounit in which to configure an override.
                            'connect_to' is the portable id of the geounit in which the geounit is
                            to be considered contiguous with. Tests for contiguity will apply these overrides
                            in order to account for contiguity when physical contiguity is not possible.
                            For example, an island may need to be marked contiguous with one or more geounits
                            on an adjacent coast (possibly containing harbors). 
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ContiguityOverride" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" use="required" />
                                    <xs:attribute name="connect_to" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="MultiMemberDistrictConfigs" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            Optional configuration for legislative bodies that support
                            multi-member districts.

                            multi_district_label_format is the format to be used for displaying a
                            map label of a multi-member district. This format string will be passed
                            to python's 'format' function with the named arguments: 'name' (district name)
                            and 'num_members' (number of representatives)
                            For example: "{name} - [{num_members}]" will display "District 5 - [3]" for a
                            district named "District 5" that is configured with 3 representatives.
                            
                            The other min/max attributes are for configuring valid ranges for (respectively):
                            number of multi-member districts allowed
                            number of members allowed per multi-member district
                            number of members allowed in an entire plan
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MultiMemberDistrictConfig" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                    </xs:sequence>
                                    <xs:attribute name="legislativebodyref" type="xs:IDREF" />
                                    <xs:attribute name="multi_district_label_format" type="xs:string" />
                                    <xs:attribute name="min_multi_districts" type="xs:nonNegativeInteger" />
                                    <xs:attribute name="max_multi_districts" type="xs:nonNegativeInteger" />
                                    <xs:attribute name="min_multi_district_members" type="xs:positiveInteger" />
                                    <xs:attribute name="max_multi_district_members" type="xs:positiveInteger" />
                                    <xs:attribute name="min_plan_members" type="xs:positiveInteger" />
                                    <xs:attribute name="max_plan_members" type="xs:positiveInteger" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Adjacencies" minOccurs="0">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="Adjacency">
                        <xs:complexType>
                          <xs:simpleContent>
                            <xs:extension base="xs:string">
                              <xs:attribute name="path" type="xs:string" use="required"/>
                              <xs:attribute name="regionref" type="xs:IDREF" />
                            </xs:extension>
                          </xs:simpleContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="GeoLevels">
                    <xs:annotation>
                        <xs:documentation>
                            The set of geometries modeled in the mapping application. Geographies are "nested", which
                            is to say, the boundaries of a larger geographic area (counties, for example) are coincident
                            with the boundaries of a smaller geographic area (census blocks, for example). The smaller
                            geographic area is considered the "parent" GeoLevel, since the larger geographic areas are
                            derived from the smaller ones.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="GeoLevel" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:choice>
                                            <xs:element name="Shapefile" type="PathType">
                                            </xs:element>
                                            <xs:element name="Files">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="Geography" minOccurs="1" maxOccurs="unbounded" type="PathType">
                                                        </xs:element>
                                                        <xs:element name="Attributes" maxOccurs="unbounded" minOccurs="0" type="PathType">
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="BaseGeoLevel" type="RefType">
                                            </xs:element>
                                        </xs:choice>
                                        <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1" />
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:ID" />
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                    <xs:attribute name="label" type="xs:string" use="required" />
                                    <xs:attribute name="min_zoom" type="xs:nonNegativeInteger" />
                                    <xs:attribute name="sort_key" type="xs:positiveInteger" />
                                    <xs:attribute name="tolerance" type="xs:decimal" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Templates" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            A Template defines a plan that is available to all users as a basis for an individual
                            user's new plan.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Template" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="LegislativeBody" type="RefType">
                                        </xs:element>
                                        <xs:element name="Blockfile">
                                            <xs:complexType>
                                                <xs:attribute name="path" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1" />
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Project">
                    <xs:annotation>
                        <xs:documentation>Configuration settings for each discrete application in the project.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Internationalization">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Language" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="code" type="xs:string" use="required" />
                                                <xs:attribute name="label" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="timezone" type="xs:string" use="required" />
                                    <xs:attribute name="default" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Redistricting">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MapServer">
                                            <xs:complexType>
                                                <xs:attribute name="ns" type="xs:string" use="required" />
                                                <xs:attribute name="nshref" type="xs:string" use="required" />
                                                <xs:attribute name="maxfeatures" type="xs:positiveInteger" />
                                                <xs:attribute name="basemaps" type="xs:string" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="GoogleAnalytics" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:attribute name="account" use="required" />
                                                <xs:attribute name="domain" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Upload" minOccurs="1" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:attribute name="maxsize" type="xs:nonNegativeInteger" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="FixUnassigned" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:attribute name="minpercent" type="xs:nonNegativeInteger" use="optional" />
                                                <xs:attribute name="comparatorsubject" type="xs:string" use="optional" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MaxUndos" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:attribute name="duringedit" type="xs:positiveInteger" use="optional" />
                                                <xs:attribute name="afteredit" type="xs:positiveInteger" use="optional" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Leaderboard" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:attribute name="maxranked" type="xs:positiveInteger" use="optional" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Mailer">
                                <xs:complexType>
                                    <xs:attribute name="submission_email" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="GoogleAnalytics" minOccurs="0" maxOccurs="1" nillable="true">
                                <xs:complexType>
                                    <xs:attribute name="account" type="xs:string" />
                                    <xs:attribute name="domain" type="xs:string" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="sessionquota" type="xs:positiveInteger" use="optional" />
                        <xs:attribute name="sessiontimeout" type="xs:positiveInteger" use="optional" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:key name="DistrictBuilderRegionKey">
            <xs:selector xpath="Regions/Region" />
            <xs:field xpath="@id" />
        </xs:key>
        <xs:key name="DistrictBuilderLegislativeBodyKey">
            <xs:selector xpath="LegislativeBodies/LegislativeBody" />
            <xs:field xpath="@id" />
        </xs:key>
        <xs:key name="DistrictBuilderSubjectKey">
            <xs:selector xpath="Subjects/Subject" />
            <xs:field xpath="@id" />
        </xs:key>
        <xs:key name="DistrictBuilderGeoLevelKey">
            <xs:selector xpath="GeoLevels/GeoLevel" />
            <xs:field xpath="@id" />
        </xs:key>
        <xs:key name="DistrictBuilderScoreFunctionKey">
            <xs:selector xpath="Scoring/ScoreFunctions/ScoreFunction" />
            <xs:field xpath="@id" />
        </xs:key>
        <xs:key name="DistrictBuilderScorePanelKey">
            <xs:selector xpath="Scoring/ScorePanels/ScorePanel" />
            <xs:field xpath="@id" />
        </xs:key>
        <xs:key name="AdjacencyRegionKey">
            <xs:selector xpath="Regions/Region" />
            <xs:field xpath="@id" />
        </xs:key>
        <xs:keyref name="AdjacencyRegion" refer="AdjacencyRegionKey">
            <xs:selector xpath="Adjacencies/Adjacency" />
            <xs:field xpath="@regionref"/>
        </xs:keyref>
        <xs:keyref name="GeoLevelBaseGeoLevel" refer="DistrictBuilderGeoLevelKey">
            <xs:selector xpath="GeoLevels/GeoLevel/BaseGeoLevel" />
            <xs:field xpath="@ref" />
        </xs:keyref>
        <xs:keyref name="TemplateLegislativeBody" refer="DistrictBuilderLegislativeBodyKey">
            <xs:selector xpath="Templates/Template/LegislativeBody" />
            <xs:field xpath="@ref" />
        </xs:keyref>
        <xs:keyref name="ScoreFunctionScoreFunction" refer="DistrictBuilderScoreFunctionKey">
            <xs:selector xpath="Scoring/ScoreFunctions/ScoreFunction/ScoreArgument" />
            <xs:field xpath="@ref" />
        </xs:keyref>
        <xs:keyref name="ScoreFunctionSubject" refer="DistrictBuilderSubjectKey">
            <xs:selector xpath="Scoring/ScoreFunctions/ScoreFunction/SubjectArgument" />
            <xs:field xpath="@ref" />
        </xs:keyref>
        <xs:keyref name="ScoreFunctionLegislativeBody" refer="DistrictBuilderLegislativeBodyKey">
            <xs:selector xpath="Scoring/ScoreFunctions/ScoreFunction/LegislativeBody" />
            <xs:field xpath="@ref" />
        </xs:keyref>
        <xs:keyref name="ScorePanelScore" refer="DistrictBuilderScoreFunctionKey">
            <xs:selector xpath="Scoring/ScorePanels/ScorePanel/Score" />
            <xs:field xpath="@ref" />
        </xs:keyref>
        <xs:keyref name="ScoreDisplayLegislativeBody" refer="DistrictBuilderLegislativeBodyKey">
            <xs:selector xpath="Scoring/ScoreDisplays/ScoreDisplay" />
            <xs:field xpath="@legislativebodyref" />
        </xs:keyref>
        <xs:keyref name="ScoreDisplayScorePanel" refer="DistrictBuilderScorePanelKey">
            <xs:selector xpath="Scoring/ScoreDisplays/ScoreDisplay/ScorePanel" />
            <xs:field xpath="@ref" />
        </xs:keyref>
        <xs:keyref name="ValidationLegislativeBody" refer="DistrictBuilderLegislativeBodyKey">
            <xs:selector xpath="Validation/Criteria" />
            <xs:field xpath="@legislativebodyref" />
        </xs:keyref>
        <xs:keyref name="CriterionScore" refer="DistrictBuilderScoreFunctionKey">
            <xs:selector xpath="Validation/Criteria/Criterion/Score" />
            <xs:field xpath="@ref" />
        </xs:keyref>
        <xs:keyref name="MultiMemberDistrictConfigLegislativeBody" refer="DistrictBuilderLegislativeBodyKey">
            <xs:selector xpath="MultiMemberDistrictConfigs/MultiMemberDistrictConfig" />
            <xs:field xpath="@legislativebodyref" />
        </xs:keyref>
        <xs:keyref name="RegionLegislativeBody" refer="DistrictBuilderLegislativeBodyKey">
            <xs:selector xpath="Regions/Region/LegislativeBodies/LegislativeBody" />
            <xs:field xpath="@ref" />
        </xs:keyref>
        <xs:keyref name="RegionGeoLevel" refer="DistrictBuilderGeoLevelKey">
            <xs:selector xpath="Regions/Region/GeoLevels/*" />
            <xs:field xpath="@ref" />
        </xs:keyref>
    </xs:element>
    <xs:complexType name="LegislativeBodiesType">
        <xs:annotation>
            <xs:documentation>
                LegislativeBodies model different election contests, the related metrics and the relevant
                geography. One such example is "US Congress", with Census Block, Census Tract, and state
                county geographies.

                Subjects, GeoLevels and Templates refer to individual LegislativeBody items.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="LegislativeBody" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Description" type="xs:string" maxOccurs="1" minOccurs="0" />
                    </xs:all>
                    <xs:attribute name="id" type="xs:ID" use="required" />
                    <xs:attribute name="name" type="xs:string" use="required" />
                    <xs:attribute name="short_label" type="xs:string" use="required" />
                    <xs:attribute name="long_label" type="xs:string" use="required" />
                    <xs:attribute name="maxdistricts" type="xs:nonNegativeInteger" use="required" />
                    <xs:attribute name="is_community" type="xs:boolean" use="optional" />
                    <xs:attribute name="sort_key" type="xs:nonNegativeInteger" use="required" />
                    <xs:attribute name="members" type="xs:string" use="required" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LegislativeBodiesRefType">
        <xs:sequence>
            <xs:element name="LegislativeBody" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Parent" type="RefType" minOccurs="0" maxOccurs="1">
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="ref" type="xs:IDREF" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NestedGeoLevelType">
        <xs:all minOccurs="0" maxOccurs="1" >
            <xs:element name="GeoLevel" type="NestedGeoLevelType" />
        </xs:all>
        <xs:attribute name="ref" type="xs:IDREF" use="required" />
    </xs:complexType>
    <xs:complexType name="RefType">
        <xs:annotation>
            <xs:documentation>A reference to another element, used in many places in the configuration.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="ref" type="xs:IDREF">
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="NamedRefType">
        <xs:annotation>
            <xs:documentation>A reference to another element, via a "ref" attribute, with a name.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="RefType">
                <xs:attribute name="name" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PathType">
        <xs:sequence>
            <xs:element name="Fields" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Field" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="name" type="xs:string" use="required" />
                                <xs:attribute name="type" type="xs:string" use="required" />
                                <xs:attribute name="pos" type="xs:nonNegativeInteger" use="optional" />
                                <xs:attribute name="width" type="xs:positiveInteger" use="optional" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="path" type="xs:string" use="required" />
    </xs:complexType>
    <xs:simpleType name="FieldTypeType">
        <xs:annotation>
            <xs:documentation>A fixed set of types available for Field elements. A Field element can only be of type "name", "portable", or "tree".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="name" />
            <xs:enumeration value="portable" />
            <xs:enumeration value="tree" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ScoreFunctionTypeType">
        <xs:annotation>
            <xs:documentation>A fixed set of types avaliable for ScoreFunction elements. A ScoreFunction can only be of type "district" or "plan".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="district" />
            <xs:enumeration value="plan" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ScorePanelsTypeType">
        <xs:annotation>
            <xs:documentation>A fixed set of types available for ScorePanel elements. A ScorePanel element can only be of type "plan" or "district".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="plan" />
            <xs:enumeration value="plan_summary" />
            <xs:enumeration value="district" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
